
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <div class="ae-grid__item item-lg-0 item-lg--offset-3"><img src="assets/img/gallinaportada.jpg" alt="Urku Portfolio"></div>
    <div class="ae-masonry ae-masonry-md-4 ae-masonry-xl-2">
      <a routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/img/londres.jpg" alt="">
        <div class="item-meta">
            <h2>Londres</h2>
            <p>Reino Unido</p>
          </div>
        </a>
        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/francia.jpg" alt="">
          <div class="item-meta">
            <h2>Paris</h2>
            <p>Francia</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/japon.jpg" alt="">
          <div class="item-meta">
            <h2>Tokyo</h2>
            <p>Japon</p>
          </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/China.jpg" alt="">
          <div class="item-meta">
            <h2>Beiying</h2>
            <p>China</p>

          
        </div></a>
    </div>
</section>
